<div class="related-post">
    <h2>📚연관 포스팅</h2>
    <div id="archives">
        {% for category in site.tags %}
        <div class="archive-group">
            {% capture tag_name %}{{ category | first }}{% endcapture %}
            {% capture page_tag_name %}{{ page.tags | first }}{% endcapture %}
            {% if tag_name == page_tag_name %}
            <div id="#{{ category_name | slugize }}"></div>
            <p></p>

            <!-- <h3 class="category-head">{{ category_name }}</h3> -->
            <a name="{{ category_name | slugize }}"></a>
            {% for post in site.tags[tag_name] %}
            <article class="archive-item">
                <ul>
                    <li :before><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
                </ul>
                <!-- <span class="post-date">{{post.date | date_to_long_string }}</span> -->
                <!-- <span class="post-dsate">{{post.date | date_to_long_string }}</div> -->
            </article>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>