---
layout: default
---
<div class="post">

  <div class="post-info">
    <span style="font-style: italic;">Written by</span>
    {% if page.author %}
    {{ page.author }}
    {% else %}
    {{ site.author.name }}
    {% endif %}

    {% if page.date %}
    <br>
    <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}

  </div>
  {% include ad_coupang1.html %}
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>
  {% include ad_coupang1.html %}
  <!-- {% assign categories = page.categories | sort  | split: ',' %}
  {% capture titlecase %}
  {% for category in categories %}
  {{ category | capitalize }}
  {% endfor %}
  {% endcapture %}


  {{ page.categories }} -->
  <a href="{{ site.url }}/categories/#{{ page.categories }}">
    <div class="" style="display: right; margin-bottom: 20px;">#{{ page.categories }}</div>
  </a>
  <!-- <div class="" style="display: left;">tags: {{ page.tags }}</div> -->

  {{ content | toc }}
</div>
<div>
  {% include ad_coupang.html %}
  {% include relatedPost.html %}
  {% include utterance_comments.html %}

</div>
<div class="pagination">
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}
  <a href="#" class="top">Top</a>
</div>